@charset "utf-8";

@import "normalize.css";

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	color: #333;
	font-size: 16px;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.5;
	text-align: auto;
    margin: 25px;

	/* background: repeating-linear-gradient(
        -45deg,  
        #cccccc, 
        #cccccc 10px, 
        #ffffff 10px, 
        #ffffff 20px
    ); */

	background: 
    conic-gradient(from 90deg at 1px 1px, #0000 25%, #b0e0e6 0%) -0.5px -0.5px/ 1.5em 1.5em, 
    linear-gradient(45deg, #0000 calc(50% - 0.5px), #b0e0e6 0 calc(50% + 0.5px), #0000 0) 0 0/ 2em 2em,
    linear-gradient(-45deg, #0000 calc(50% - 0.5px), #8faedb 0 calc(50% + 0.5px), #0000 0) 0 0/ 2em 2em;

	padding-top: 28px; /* header */
	padding-bottom: 18px; /* footer */
}

a:link {
	color: #0129BC;
}

a:visited {
	color: #0129BC;
}

a:active {
	color: #139DFF;
}

a:hover {
	color: #139DFF;
	text-decoration: underline;
}

a.usume-link:link {
	color: #214f4f;
}
a.usume-link:visited {
	color: #214f4f;
}
a.usume-link:active {
	color: #338c8c;
}
a.usume-link:hover {
	color: #338c8c;
	text-decoration: underline;
}


/* header {
	width: 960px;
	height: 70px;
	position: relative;
	margin: 0 auto 15px;
} */

#h1 {
	width: 725px;
	height: 24px;
	margin: 0 0 15px;
	padding: 24px 0 20px 25px;
	color: #1c7c44;
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
	background-color: #daf3d8;
}

h2 {
	margin: 0px 5px 5px 8px;
	padding: 15px;
	font-weight: normal;
	font-size: 30px;
    background-color: #daf3d8; 
	background: linear-gradient(135deg, #daf3d8, #c2eac0);
	background-image: 
	  radial-gradient(circle at center center, #daf3d8, #c2eac0), 
	  repeating-radial-gradient(circle at center center, #daf3d8, #daf3d8, 20px, transparent 40px, transparent 20px);
	background-blend-mode: multiply;

	border-radius: 20px; 

	padding-left: 30px;
	padding-right: 30px;

	border: 3px solid #9edb92; 

	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

h3 {
	margin: 15px 5px 5px 8px;
	padding: 6px;
	font-weight: normal;
	font-size: 20px;
	clear: both;
    /* background-color: #a7afe9; */
	background: linear-gradient(135deg, #a7afe9, #8c97e0);
	border-radius: 10px; 

	border: 2px solid #7885e7;
}

h4 {
	margin: 5px 5px 5px 8px;
	padding: 6px;
	font-weight: normal;
	font-size: 20px;
	clear: both;
    /* background-color: #a7afe9; */
	background: linear-gradient(135deg, #a7afe9, #8c97e0);
	border-radius: 10px; 
	padding-left: 15px;
	padding-right: 15px;

	/* display: inline-block; */
	border: 2px solid #7885e7;
}

h5 {
	margin: 5px 15px 5px 20px;
	padding: 3px;
	font-weight: normal;
	font-size: 18px;
	clear: both;
	/* background-color: #daf3d8; */
	background: linear-gradient(135deg, #daf3d8, #c2eac0);
	border-radius: 10px; 
	padding-left: 12px;
	padding-right: 12px;

	/* display: inline-block; */
	border: 2px solid #bfe0b8;
}

h6 {
	margin: 5px 15px 5px 20px;
	padding: 3px;
	font-weight: normal;
	font-size: 20px;
	clear: both;
	background-color: rgba(255, 0, 0, 0);
	color: rgba(255, 0, 0, 0);
	padding-left: 12px;
	padding-right: 12px;
}

p {
	margin: 5px 15px 5px 20px;
	padding: 0;
	text-indent: 0.7em;
}

p.noindent {
	text-indent: 0;
}

ul {
	margin: 5px 15px 5px 47px;
	padding: 0;
}

ul li {
	/* list-style: none; */
	padding: 2px 0;
	/* list-style-type: disc */
}

li ul {
	margin: 5px 0 0 15px;
}

ol {
	margin: 5px 15px 5px 50px;
	padding: 0;
}

ol li {
	margin: 0;
	padding: 2px 0;
}

li ol {
	margin: 5px 0 0 10px;
}

hr#hr1 {
    border: 0;
    height: 3px;
    margin: 0px 0px 20px 0px;
    background: #333;
    background-image: linear-gradient(to right, #777, #aaa, #ccc);
}
hr {
	border: 1px dotted #666666;
	margin: 15px 15px;
	clear: both;
}

a {
	text-decoration: none;
  }

.box6 {
    padding: 0.5em 1em;
    margin: 0.3em 0;
    background: #ffefd5;
    border: dashed 2px #ffa500;
	border-radius: 6px; 
}
.box6 p {
    margin: 0; 
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.side {
	/* width: 13%; */
	/* float: left; */
	/* width: 160px; */
	width: 173px;
	padding: 5px 0px 30px 0px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	background-color: #ccffff;
	background-image:  
	linear-gradient(135deg, #ccffff 25%, transparent 25%), 
	linear-gradient(225deg, #ccffff 25%, transparent 25%), 
	linear-gradient(45deg, #ccffff 25%, transparent 25%), 
	linear-gradient(315deg, #ccffff 25%, #b3ffff 25%);
	background-position: 20px 0, 20px 0, 0 0, 0 0;
	background-size: 40px 40px;
	background-repeat: repeat;

    position: fixed;
    height: calc(98% - 20px - 30px - 79px);
    overflow-y: auto;
	border-radius: 20px; 

	/* display: inline-block; */
	border: 3px solid #a2fafa;
}
.content {
	/* width: 86%;
	float: right; */
	margin-left: 177px;
	flex: 1;
	/* position: relative;
	display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
}

section {
    scroll-margin-top: 80px; 
}

ul.no-bullet {
    list-style-type: none;
    /* padding-left: 10px;  */
	padding-left: 10px; 
	margin-left: 10px;
}

.color-box {
	margin: 5px 15px 5px 20px;
	padding: 3px;
	background-color: #daf3d8;
	border-radius: 10px; 

	border: 1px solid #9edb92; 
}

.footer-left {
	text-align: left;  
	float: left;  

	color: #165757;
}
.footer-right {
	text-align: right; 
}

img.photo {
    max-width: 350px; 
    max-height: 350px; 
	float: right;
	/* margin: 1%; */
	background-color: white; 
    padding: 1%;
	border: 2px solid gray; 
	border-radius: 8px; 
	margin-right: 15px;

	margin-bottom: 7px;
}

@media only screen and (max-width: 1100px) {
    img.photo {
        display: none !important;
    }
}

.naiyou-top {
	display: inline-block;
	border: 2px solid gray;
	padding: 1% 2% 1% 1%;
	background-color: white; 
	margin: 0% 2% 0% 2%;
	border-radius: 20px; 
}

.naiyou {
	/* display: inline-block; */
	border: 2px solid gray;
	padding: 1% 0% 1% 0%;
	background-color: white; 
	margin: 0% 2% 0% 2%;
	border-radius: 20px; 
}

/* footer {
	background-color: #9cc2c2;
    background-image: none;  
	padding: 0.2% 0% 0.2% 0%;
	margin: 0.2% 0% 0.2% 0%;
	border-radius: 10px; 

	border: 2px solid #84c0c0;
} */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #669999;
	/* text-align: center; */
	line-height: 20px;
	font-size: 15px;

	border-top: 3px solid #297d7d;
}

p.underline {
    border-bottom: dashed 2px green;
}

@media only screen and (min-width: 1101px) {
    h2.withphoto {
		/* display: inline-block; */
		max-width: calc(100% - 115px - 360px);
	}
}

@media only screen and (max-width: 480px) {
    .side {
		display: none !important;
		position: static !important;
		visibility: hidden !important; 
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
	}
	.content {
		margin-left: 10px;
		flex: 1;
	}

	.footer-left {
		display: none !important;
	}
}

p.pside {
	margin: 5px 5px 5px 5px;
	padding: 0;
	text-indent: 0.7em;
}

.psideul {
    content: "";
    /* position: absolute; */
	margin-left: 32px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 135px;
    border-left: solid 3px #0067b4;
    border-bottom: solid 3px #0067b4;
}

li.no-bullet-li {
	/* list-style: none; */
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	/* list-style-type: disc */
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #669999;
	/* color: white; */
	text-align: center;
	line-height: 30px;
	font-size: 20px;

	border-bottom: 3px solid #297d7d;
}

p.pheader {
	margin-top: 0;
	padding: 0;
	text-indent: 0.7em;
}

body.comment {
	padding-top: 0;
}

.openbox input {
    display: none; 
}
.openbox .boxshow {
    height: 0;
    opacity: 0; 
    display: none;
}
.inputcss:checked + .boxshow {
    height: auto;
    opacity: 1; 
    display: block;
    font-size: 14px;
}
.openbox label {
    display: inline-block;
    background: #ffe4b5;
    border-radius: 7px 7px 7px 7px;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 13px;

    border: 1.5px solid #fcd38c;
}

.collapsing {
    transition: height 0.35s ease;
}

.yohakuari {
	margin-bottom: 20px;
}

ul.presentations {
    list-style-type: circle;
	padding-left: 10px; 
	margin-left: 20px;
}

a.link-button {
	display: inline-block;
	font-size: 14px;
    padding: 1px 5px;
    background-color: rgb(194, 223, 50);
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;

	border: 1px solid rgb(155, 178, 40);
}

a.link-button:hover {
	background-color: rgb(162, 191, 47);
	text-decoration: underline;
}

a.slides-button {
	display: inline-block;
	font-size: 14px;
    padding: 1px 5px;
    background-color: rgb(50, 180, 223);
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;

	border: 1px solid rgb(40, 145, 180);
}

a.slides-button:hover {
	background-color: rgb(36, 131, 163);
	text-decoration: underline;
}

a.paper-button {
	display: inline-block;
	font-size: 14px;
    padding: 1px 5px;
    background-color: rgb(50, 223, 142);
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;

	border: 1px solid rgb(40, 178, 113);
}

a.paper-button:hover {
	background-color: rgb(35, 164, 104);
	text-decoration: underline;
}

.openbox label:hover {
	background: #e4cca3;
}